@import url('https://fonts.googleapis.com/css?family=Lato|Saira+Semi+Condensed|Material+Icons');
/*@import url('https://fonts.googleapis.com/icon?family=Material+Icons');*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clr:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

.cv-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    margin: 30px auto;
    margin: 4vh auto;
    width: 1000px;
    max-width: 95vw;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    text-align: left;
}

.cv-aside {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 300px;
    max-width: 35%;
    background: #004D40;
    color: #ddd;
    padding-bottom: 20px;
}

.cv-aside header {
    text-align: center;
    font-size: 2em;
    margin-top: .8em;
}

.cv-aside__contact {
    background: #00695C;
}

.cv-aside li {
    padding: 0 15px 8px 15px;
}

.cv-aside li small {
    color: #888;
}

.cv-aside i {
    color: #4DB6AC;
    width: 30px;
    position: relative;
    bottom: -6px;
}

.cv-aside__photo {
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 100%;
    background: url('../img/the_face--thumb.jpg') -100px -0;
    background-size: cover;
}

.cv-aside__hobby h3 {
    padding: 25px;
    font-size: 1.2em;
    border-bottom: 1px solid #00695C;
}

.cv-aside__hobby li {
    display: inline-block;
    width: 48%;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}

.cv-aside__hobby li small {
    font-size: .7em;
    color: #fff;
}

.cv-content {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 900px;
    max-width: 65%;
    padding: 0 10px 0 20px;
}
.cv-content__experience h3 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.5em;
    color: #00897B;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 0;
}

.cv-content__experience h3 i {
    margin: 0 10px -5px 0;
    position: relative;
    top: 3px;
    color: #004D40;
}


.cv-content__experience figure figcaption {
    float: left;
    width: 20%;
    font-size: .8em;
    color: #666;
}

.cv-content figure div {
    float: left;
    width: 70%;
    border-left: 2px solid #4DB6AC;
    border-top: 1px solid #ccc;
    padding-left: 10px;
    color: #333;
    position: relative;
    padding-bottom: 15px;
    padding-top: 10px;
}

.cv-content figure div:before {
    content: '';
    position: absolute;
    left: -8px;
    margin-top: -8px;
    top: 50%;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #4DB6AC;
}

.cv-content figure div h4 {
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}

.cv-content figure div h4 small {
    font-weight: 300;
    color: #666;
    font-size: .9em;
    display: block;
    line-height: 1.5em;

}

.cv-content__i18n ul {
    width: 100%;
    display: block;
    clear: both;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.cv-content__i18n li {
    width: 48%;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
}

.cv-content__i18n li small {
    color: #888;
}

.cv-content__i18n li i {
    color: #aaa;
}

.cv-content__extra {
    margin-bottom: 20px;
}

.cv-content__extra li {
    position: relative;
    padding: 0 0 20px 20px;
    color: #666;
    margin-left: 12px;
}

.cv-content__extra li:before {
    content: '';
    position: absolute;
    left: -8px;
    margin-top: -18px;
    top: 50%;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #4DB6AC;
}

.law {
    text-align: center;
    max-width: 50vw;
    margin: 20px auto;
    color: #999;
}

@media print {
    .cv-container {
        width: 100vw;
        box-shadow: none;
    }
    .cv-aside {
        width: 35vw;
        font-size: .75em;
    }

    .cv-aside__photo {
        width: 190px;
        height: 190px;
    }

    .cv-content {
        width: 65vw;
    }

    .cv-content__experience figure figcaption {
        font-size: .6em;
    }

    .law {
        max-width: 100%;
        width: 90%;
    }
}
